<h1>STUPID COACH PROGRAM</h1>
<div class ="answer">
  <%= @answer %>
  <br>
  - <em>You<em>
</div>
<div class = "coach">
  <%= @coach %>
  <br>
  - <em>Your Coach<em>
</div>
<div>
  <%= link_to "Ask your coach coach", ask_path %>
</div>
